<section class="checkout spad">
    <div class="container">
        <h3 style="text-align:center">Forgot Password</h3>

        <form method="POST" action="/forgot">
            <input class="form-control"
                   name="email"
                   placeholder="Enter your email"
                   required>

            <button class="site-btn" style="margin-top:10px">
                Send Reset Link
            </button>
        </form>
    </div>
</section>
